:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #fff;
    --background-button-color: #2196F3;
    --primary-background-color: #fff;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;
}
body{
    padding: 0 215px;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}
/* header */
.logo{
    color: var(--logo-color);
}
.blue{
    color: var(--background-button-color);
}
.site-list{
    color: var(--title-text-color);
}
/* post */
.post{
    background-color: var(--secondary-background-color);
}
.post-title{
    color: var(--secondary-text-color);
}
.post-button{
    color: var(--secondary-text-color);
    background-color: var(--background-button-color);
    cursor: pointer;
}
/* benefits */
.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
}
.benefits-text{
    font-size: 14px;
}
/* activity */
.activity-title{
    color: var(--title-text-color);
}
/* team */
.team{
    background-color: var(--background-team-color);
}
.team-title{
    color: var(--title-text-color);
}
.team-name{
    color: var(--title-text-color);
}
/* footer */
.page-footer{
    background-color: var(--secondary-background-color);
}
.address{
    color: var(--secondary-text-color);
}
.address-text{
    color: var(--secondary-text-color);
}
.email{
    color: var(--secondary-text-color);
}
/* portfolio */
.portfolio-title{
    color: var(--title-text-color);
}
.portfolio-button{
    background-color: var(--background-team-color);
    cursor: pointer;
}
.project-name{
    color: var(--title-text-color);
}

