:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #fff;
    --background-button-color: #2196F3;
    --primary-background-color: #fff;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;
}
ul{
    list-style: none;
}
body{
    padding: 0 215px;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/* header */
.logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.blue{
    color: var(--background-button-color);
}
.site-list{
    color: var(--title-text-color);
}
.site-nav{
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.site-link{
    text-decoration: none;
    color: var(--title-text-color);
}
.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}
/* post */
.post{
    background-color: var(--secondary-background-color);
}
.post-title{
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    text-align: center;
}
.post-button{
    color: var(--secondary-text-color);
    background-color: var(--background-button-color);
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
}
/* benefits */
.benefits-block-name{
    color: var(--title-text-color);
    font-weight: 700;
    letter-spacing: 0.42px;
}
.benefits-text{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
/* activity */
.activity-title{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
}
/* team */
.team{
    background-color: var(--background-team-color);
}
.team-title{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center; 
}
.team-name{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center; 
}
.team-position{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-align: center; 
}
.team-list-card{
    width: 270px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-bottom: 30px;
}
/* footer */
.page-footer{
    background-color: var(--secondary-background-color);
}
.address{
    color: var(--secondary-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration: none;
    cursor: pointer;
}
.white{
    color: var(--secondary-text-color);
}
.address-h{
    color: rgba(255, 255, 255, 0.60);
    cursor: pointer;
    text-decoration: none;
}
.email{
    color: rgba(255, 255, 255, 0.60);
    cursor: pointer;
    text-decoration: none;
}
/* portfolio */
.portfolio-title{
    color: var(--title-text-color);
}
.portfolio-button{
    background-color: var(--background-team-color);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: auto;
    border-radius: 4px;
    height: 38px;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background-color: var(--background-button-color);
}
.project-name{
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.addition{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}
.project-list-information{
    border: 1px solid #EEE;
    width: 370px;
    height: 404px;
}


