:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #fff;
    --background-button-color: #2196F3;
    --primary-background-color: #fff;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;
    --background-color-after: #196baf;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* header */
.header{
    padding-bottom: 28px;
    border-bottom: 1px solid var(--primary-text-color);
}
.icon-email{
    margin-right: 10px;
    fill: var(--primary-text-color);
    text-decoration: none;
}
.icon-phone{
    margin-left: 30px;
    margin-right: 10px;
    text-decoration: none;
}
.contact-item{
    display: flex;
    align-items: center;
}
.contact-item .site-number{
    transition: color 250ms var(--time-function);
}
.contact-item .site-email{
    transition: color 250ms var(--time-function);
}
.contact-list .icon-email:hover{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.contact-list .icon-phone:hover{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.site-number .icon-phone{
    transition: fill 250ms var(--time-function);
}
.site-email .icon-email{
    transition: fill 250ms var(--time-function);
}
.site-link.current::after{
    content: "";
    display: block;
    background-color: var(--background-button-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -35px;
    transition: background-color 2000ms ease;
}
.site-link:hover.current::after{
    background-color: var(--background-color-after);
    transition: background-color 2000ms ease;
}
a:hover .icon-email{
    fill: var(--background-button-color);
}
a:hover .icon-phone{
    fill: var(--background-button-color);
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}
.logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.contact-list{
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
}
.site-number{
    color: var(--primary-text-color);
    margin-top: -2px;
}
.site-number:hover,
.site-number:focus{
    color: var(--background-button-color);
}
.site-email{
    color: var(--primary-text-color);
}
.site-email:hover,
.site-email:focus{
    color: var(--background-button-color);
}
.blue{
    color: var(--background-button-color);
}
.site-list{
    color: var(--title-text-color);
    display: flex;
    margin-left: -200px;
}
.site-list-item:not(:last-child){
    margin-right: 50px;
}
.site-link{
    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.28px;
    position: relative;
}
.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}
/* post */
.post{
    background-color: var(--secondary-background-color);
    margin-bottom: 69px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/img-wrap.png);
    background-color: #232323;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.post-title{
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    text-align: center;
    width: 696px;
    margin-bottom: 30px;
}
.post-button{
    color: var(--secondary-text-color);
    background-color: var(--background-button-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 32px;
}
.div-button{
    display: flex;
    justify-content: center;
}
.post-title-wrap{
    display: flex;
    justify-content: center;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal-close-button {
    margin-top: 8px;
    margin-left: 490px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(./images/icons.svg#icon-close);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.modal-icon {
    fill: currentColor;
    align-items: center;
}
.modal-form-icon {
    position: absolute;
    left: 12px;
    top: 28px;
    fill: rgba(33, 33, 33, 1);
}
.modal-form-title{
    color: var(--title-text-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.form-input:focus{
    outline: none;
    border-color: var(--background-button-color);
}
.modal-form{
    padding-right: 40px;   
    padding-left: 40px;
    padding-bottom: 40px;
}
.modal-form-field{
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.form-input:focus {
    outline: none;
    border-color: var(--background-button-color);
}
.modal-form-label{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}
.form-input{
    margin-top: 4px;
    padding: 11px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
}
.modal-form-policy-text{
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}
.modal-form-policy-link{
    text-decoration: underline;
    color: var(--background-button-color);
}
.comment:focus {
    outline: none;
    border-color: var(--background-button-color);
}
.comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    color: rgba(117, 117, 117, 0.5);
}
.comment{
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}
.agree-btn{
    color: var(--secondary-text-color);
    background-color: var(--background-button-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 52px;
    margin-top: 30px;
}
.agree-btn-wrapper{
    display: flex;
    justify-content: center;
}
/* benefits */
.benefits{
    margin-bottom: 182px;
}
.benefits-block{
    width: 270;
    height: 120px;
}
.benefits-block::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: var(--background-team-color);
    background-image: url(../img/vector.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    border-radius: 4px;
}
.benefits-block:nth-child(2)::before{
    background-image: url(../img/clock.png);
}
.benefits-block:nth-child(3)::before{
    background-image: url(../img/diagram.png);
}
.benefits-block:nth-child(4)::before{
    background-image: url(../img/astronaut.png);
}
.benefits-block:not(:last-child){
    margin-right: 30px;
}
.benefits-list{
    display: flex;
    align-items: flex-start;
}
.benefits-block-name{
    color: var(--title-text-color);
    font-weight: 700;
    letter-spacing: 0.42px;
    padding-bottom: 10px;
}
.benefits-list-div{
    margin-bottom: 30px;
}
.benefits-text{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
/* activity */
.activity{
    margin-bottom: 94px;
}
.activity-title{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
}
.activity-list{
    display: flex;
    justify-content: space-between;
}
.activity-list-card{
    position: relative;     
}
.activity-list-card > .activity-list-text{
    position: absolute;
    bottom: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.80);
}
/* team */
.team{
    background-color: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list{
    display: flex;
}
.team-title{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
}
.team-name{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
    padding-top: 30px;
}
.team-position{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.team-list-card{
    width: 270px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--secondary-text-color);
}
.team-social{
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}
.team-list-card:not(:last-child){
    margin-right: 30px;
}
.team-social-a{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
}
.team-social-a:hover,
.team-social-a:focus{
    background-color: var(--background-button-color);
    fill: var(--primary-background-color);
}
/* client */
.client{
    margin: 94px 0;
}
.client-title{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.client-list{
    display: flex;
    justify-content: space-between;
}
.client-wrapper{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    height: 92px;
    cursor: pointer;
    transition: border 250ms var(--time-function);
}
.client-list .client-wrapper:hover{
    color: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.client-wrapper:hover .icon-client_one{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.client-wrapper:hover .icon-client_two{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.client-wrapper:hover .icon-client_three{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.client-wrapper:hover .icon-client_four{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.client-wrapper:hover .icon-client_five{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.client-wrapper:hover .icon-client_six{
    fill: var(--background-button-color);
    transition: fill 250ms var(--time-function);
}
.client-svg{
    fill: var(--primary-text-color);
    margin: 16px 32px;
}
.client-wrapper:hover{
    border: 1px solid var(--background-button-color);
}
/* footer */
.page-footer{
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}
.address{
    color: var(--secondary-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    padding-top: 20px;
}
.white{
    color: var(--secondary-text-color);
}
.email{
    color: rgba(255, 255, 255, 0.60);
    cursor: pointer;
    padding-top: 9px;
}
.number{
    color: #ffffff99;
    cursor: pointer;
    padding-top: 9px;
}
.telegram-icon{
    position: absolute;
    top: 13px;
    right: 28px;
    left: 148px;
}
.footer-email-title{
    color: var(--primary-background-color);
    font-weight: 700;
    letter-spacing: 0.42px; 
    margin-bottom: 20px;
}
.footer-email-input{
    line-height: 20px;
    letter-spacing: 0.48px;
    color: rgba(255, 255, 255, 0.60);
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 15px 0;
    padding-left: 16px;
    padding-right: 200px;
}
.footer-email-btn{
    color: var(--primary-background-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: var(--background-button-color);
    border: none;
    padding: 10px 28px;
    padding-right: 62px;
    position: relative;
    cursor: pointer;
    margin-left: 12px;
    transition: background-color 250ms var(--time-function);
}
.footer-email-btn:hover{
    background-color: var(--background-color-after);
    transition: background-color 250ms var(--time-function);
}
.footer-social-svg{
    fill: var(--secondary-text-color);
}
.footer-information{
    display: flex;
    flex-direction: column;
}
.footer-social-title{
    color: var(--secondary-text-color);
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.footer-social{
    margin-left: 70px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    margin-right: 93px;
}
.footer-social-list{
    display: flex;
}
.footer-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.10);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--time-function);
}
.footer-social-item:not(:last-child){
    margin-right: 10px;
}
.footer-svg:hover{
    background-color: var(--background-button-color);
}
.logo-footer{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.footer-wrapper{
    display: flex;
    align-items: center;
}
/* portfolio */
.portfolio-button{
    background-color: var(--background-team-color);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: none;
    height: 38px;
    padding: 6px 24px;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background-color: var(--background-button-color);
    color: var(--secondary-text-color);
}
.block-wrap{
    position: relative;
    overflow: hidden;
}
.overley{
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-background-color);
    transform: translateY(100%);
    transition: transform 250ms linear, opacity 250ms linear;
    opacity: 0;
}
.block-link:hover .overley{
    transform: translateY(0);
    opacity: 1;
}
.portfolio-list-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
    gap: 9px;
}
.li-portfolio-button:last-child{
    width: 73px;
}
.project-name{
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-left: 24px;
    padding-top: 20px;
}
.addition{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding-left: 24px;
    text-decoration: none;
    color: var(--primary-text-color);
}
.project-list-information{
    border: 1px solid #EEE;
    width: 370px;
    height: 404px;
    flex-basis: calc((100% - 60px) / 3);
}
.project-list-information:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}
